ConsoleBierenClient/Service References/EtikettenServiceReference/etikettenservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://vdab.be/etikettenservice" elementFormDefault="qualified" targetNamespace="http://vdab.be/etikettenservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="VerwijderEtikettenOuderDan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerwittigAlsEtikettenVerwijderdZijn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopVerwittigenAlsEtikettenVerwijderdZijn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EtikettenZijnVerwijderd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="etiketten" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>