ConsoleBierenClient/Service References/RadenServiceReference/alcoholradenservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://vdab.be/alcoholradenservice" elementFormDefault="qualified" targetNamespace="http://vdab.be/alcoholradenservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" />
  <xs:element name="RaadDuvelAlcohol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alcohol" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaadDuvelAlcoholResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" minOccurs="0" name="RaadDuvelAlcoholResult" nillable="true" type="q1:RaadResultaat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>