ConsoleBierenClient/Service References/RadenServiceReference/BierenServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RaadResultaat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beurten" type="xs:int" />
      <xs:element minOccurs="0" name="Hint" type="tns:Hint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RaadResultaat" nillable="true" type="tns:RaadResultaat" />
  <xs:simpleType name="Hint">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hoger" />
      <xs:enumeration value="Lager" />
      <xs:enumeration value="Correct" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Hint" nillable="true" type="tns:Hint" />
</xs:schema>